[submodule "misc/3rd/acmake"]
	path = misc/3rd/acmake
	url = git@github.com:Answeror/ACMake.git
[submodule "misc/3rd/ans"]
	path = misc/3rd/ans
	url = git@github.com:Answeror/ans.git
[submodule "misc/3rd/oventoboost"]
	path = misc/3rd/oventoboost
	url = git://github.com/faithandbrave/OvenToBoost.git
